/* Place CSS styles here */
div {
    
  }
body {
background: -webkit-linear-gradient(#e15555, #869eb0);
color:#281346;
font-family:monospace;
}
    header {
        background-color: #e84d4d;
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
